<h2>Show Tenent: <%= @tenent.name %></h2>

<h4><%= @tenent.age %></h4>
<h4><%= @tenent.gender %></h4>

<h2>Edit Tenent</h2>

<a href="/tenents/<%= tenent.id %>/edit">edit <%= tenent.name %> info</a></p>
