<h3>Editing Apartment</h3>

<form action="/apartments/<%= @apartment.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <input value="<%=@apartment.address%>" type="text" placeholder="Address" name="apartment[address]">
  <input value="<%=@apartment.monthly_rent%>" type="text" placeholder="Monthly Rent" name="apartment[monthly_rent]">
  <input value="<%=@apartment.sqft%>" type="text" placeholder="Square Feet" name="apartment[sqft]">
  <input value="<%=@apartment.num_beds%>" type="text" placeholder="Number Beds" name="apartment[num_beds]">
  <input value="<%=@apartment.num_baths%>" type="text" placeholder="Number Baths" name="apartment[num_baths]">
  <input type="submit" value="Update">
</form>
