<h2>
  <%= @apartments.address %>
</h2>

<h3>This apartment is <%= @apartments.sqft %> sqft and has <%= @apartments.num_beds %> beds and <%= @apartments.num_baths %> baths. It costs $<%= @apartments.num_baths %> a month.</h3>
