<h2>Apartment Details</h2>

<ul>
  <li>Address: <%= @apartment.address %></li>
  <li>Sqft: <%= @apartment.sqft %></li>
  <li>Number of Beds: <%= @apartment.num_beds %></li>
  <li>Number of Baths: <%= @apartment.num_baths %></li>
  <li>Monthly Rent: $<%= @apartment.monthly_rent %></li>
  <li>Tenants:
    <ul>
      <% @apartment.tenants.each do |tenant| %>
        <li>
          <a href='/tenants/<%= tenant.id %>'><%= tenant.name %></a>
        </li>
      <% end %>
    </ul>
  </li>
</ul>
