<h2>Address: <%=@apartments.address %></h2>
<h2>Monthly Rent: <%=@apartments.monthly_rent %></h2>
<h2>Size: <%=@apartments.sqft %></h2>
<h2>Beds: <%=@apartments.num_beds %></h2>
<h2>Baths: <%=@apartments.num_baths %></h2>
