<h2>Details about Apartment <%= @apartment.id %></h2>
<ul>
  <li>Address: <%= @apartment.address %></li>
  <li>Monthly Rent: <%= @apartment.monthly_rent %></li>
  <li>Square Footage: <%= @apartment.sqft %></li>
  <li>Beds: <%= @apartment.num_beds %></li>
  <li>Baths: <%= @apartment.num_baths %></li>
</ul>
