<ul>
<li>
  <h2> <%= @apartment.address %></h2>
<li>
  <h4> Monthly Rent: <%= @apartment.monthly_rent %> </h4>
</li>
<li>
  <h4> Square Foot: <%= @apartment.sqft %> </h4>
</li>
<li>
  <h4> Bedrooms: <%= @apartment.num_beds %> </h4>
</li>
<li>
  <h4> Bathrooms: <%= @apartment.num_baths %> </h4>
</li>
</ul>
