
<ul>
    <li>Address: <%= @apartment.address  %></li>
    <li>Monthly Rent: <%= @apartment.monthly_rent  %></li>
    <li>Square Feet: <%= @apartment.sqft  %></li>
    <li>Number of Beds: <%= @apartment.num_beds  %></li>
    <li>Number of Baths: <%= @apartment.num_baths  %></li>
</ul>



<!-- This is info about apartment #3. -->
