<h2><%=@apartment.address%> (edit)</h2>

<ul>
    <li>
        Monthly rent: <%=@apartment.monthly_rent%>
    </li>
    <li>
        Square feet: <%=@apartment.sqft%>
    </li>
    <li>
        No. of beds: <%=@apartment.num_beds%>
    </li>
    <li>
        No. of baths: <%=@apartment.num_baths%>
    </li>
    <li>
        Current tenants: <% @apartment.tenants.each do |tenant|%>
                        <%= tenant.name %>
                        <% end %>
         <a href="/apartments/tenants/new">(add tenant)</a>
    </li>
</ul>
