<h2><%=@apartment.address%> <a href="/apartments/<%= @apartment.id %>/edit">(edit)</a></h2>

<ul>
    <li>
        Monthly rent: <%=@apartment.monthly_rent%>
    </li>
    <li>
        Square feet: <%=@apartment.sqft%>
    </li>
    <li>
        No. of beds: <%=@apartment.num_beds%>
    </li>
    <li>
        No. of baths: <%=@apartment.num_baths%>
    </li>
    <li>
        Current tenants: <% @apartment.tenants.each do |tenant|%>
                        <a href="/apartments/<%= @apartment.id %>/tenants/<%= tenant.id %>"><%= tenant.name %></a>
                        <% end %>
         <a href="/apartments/tenants/new">(add tenant)</a>
    </li>
</ul>
